<!--use:_views/m.main-->

<!--define:title-->
Un día como hoy
<!--/define:title-->

<!--define:css-->
	<link rel="stylesheet" href="css/story.css" />
	<link rel="stylesheet" href="js/lib/timeliner-2.31/css/timeliner.css" type="text/css" media="screen">
	<link rel="stylesheet" href="js/lib/timeliner-2.31/css/responsive.css" type="text/css" media="screen">
<!--/define:css-->

<!--define:main-->
	<div data-ng-controller="storyCtrl as ctrl">
		<div class="page-header">
			<h1>Historia explicada</h1>
		</div>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Ingrese un concepto" id="input_tag" data-ng-model="ctrl.explain.query.tag"/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" data-ng-click="ctrl.explain.getTotal()">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
		<div id="timeline" class="timeline-container">
			<!--
			<button class="timeline-toggle">+ expand all</button>
			<br class="clear">
			-->
			<div class="timeline-wrapper" data-ng-repeat="row in ctrl.explain.coll">
				<h2 class="timeline-time"><span>{{row.fecha}}</span></h2>
				<dl class="timeline-series">
					<dt id="{{$index}}" class="timeline-event "><a>{{row.title}}</a></dt>
					<dd class="timeline-event-content" id="{{$index}}EX">
						<h3>{{row.fechat}}</h3>
						<div class="media">
							<a href="#inline-1955-08-282" class="CBmodal">
								<img data-ng-src="{{row.img}}" width="240" height="180" alt="{{row.title}}">
							</a>
							<p class="mediaLink" data-ng-repeat="font in row.font">
								<a href="{{font}}" target="_blank" class="CBmodal" title="{{row.title}}">ver {{$index+1}}° referencia</a>
							</p>
						</div>
						<p>{{row.resume}}</p>
						<br class="clear">
					</dd>
					<!--<dt id="19551201" class="timeline-event"><a>Rosa Parks</a></dt>
					<dd class="timeline-event-content" id="19551201EX">
						<h3>December 1, 1955</h3>
						<p>
							The arrest of Rosa Parks, a 42-year-old African-American seamstress and civil rights activist who refused to give up her bus seat to a white passenger, sets off a long anticipated bus boycott by residents of Montgomery, Ala. The 13-month protest and ensuing litigation eventually make it to the U.S. Supreme Court, which declares that segregation on public buses is unconstitutional. The Montgomery bus boycott brings the Rev. Dr. Martin Luther King Jr. and his nonviolent approach to social change to the forefront of the civil rights movement.</p>

						<br class="clear">
					</dd>-->
				</dl>
			</div>
			<br class="clear">
		</div>
	</div>
<!--/define:main-->

<!--define:script-->
	<script type="text/javascript" src="js/lib/timeliner-2.31/js/timeliner.js"></script>
	<script type="text/javascript">
		var instances = {story: ["explain"]};
	</script>
	<script type="text/javascript" src="js/story.js"></script>
<!--/define:script-->