<!--use:_views/m.main-->

<!--define:title-->
Encuestas
<!--/define:title-->

<!--define:main-->
	<div data-ng-controller="pollCtrl as ctrl">
		<div class="page-header">
			<h1>Encuestas</h1>
		</div>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Título</th>
					<th>Estado</th>
					<th class="text-right">
						<button class="btn btn-xs btn-link" data-toggle="modal" data-target="#modalDocument" data-ng-click="ctrl.document.new()">
							<i class="fa fa-plus"></i>
						</button>
						<button class="btn btn-xs btn-link" data-ng-click="ctrl.collection.getTotal()">
							<i class="fa fa-refresh"></i>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="doc in ctrl.collection.coll">
					<td>{{ctrl.collection.obtained + $index + 1 - ctrl.collection.coll.length}}</td>
					<td>{{doc.title}}</td>
					<td>{{doc.status}}</td>
					<td class="text-right">
						<button class="btn btn-link btn-xs" data-ng-click="ctrl.document.select(doc)">
							<span class="fa fa-eye"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<nav>
							<ul class="pagination pagination-sm">
								<li>
									<a data-ng-click="ctrl.collection.gotoFirstPage()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
								</li>
								<li data-ng-repeat="page in ctrl.collection.getPages()" data-ng-class="ctrl.collection.isSelected(page)">
									<a data-ng-click="ctrl.collection.gotoPage(page)"><span aria-hidden="true">{{page}}</span></a>
								</li>
								<li>
									<a data-ng-click="ctrl.collection.gotoLastPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
								</li>
							</ul>
						</nav>
						<p>Resultado de la b&uacute;squeda: {{ctrl.collection.cant|number}} documentos</p>
					</td>
				</tr>
			</tfoot>
		</table>
		
		<!--include:poll/document-->
		<!--include:poll/sender-->
	</div>
<!--/define:main-->
		
<!--define:script-->
	<script type="text/javascript" src="bower_components/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
		var poll_instances = ["collection","document"];
	</script>
	<script type="text/javascript" src="js/poll.js"></script>
<!--/define:script-->